$primary-color: #3498db;
$border-color: #ddd;
$repositoy-color: #e0e0e0;

.repository-container {
    display: flex;
    flex-direction: column;
    height: 60px;
    background-color: $repositoy-color;
    margin-top: 1rem;
    padding: 0.6rem;
    margin-left: 20px;


    .repositoy-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .repository-title {
        font-weight: bold;
        font-size: 1rem;
    }

    .repository-stars {
        color: $primary-color;
        padding-right: 0.2rem;
        color: black;
        font-weight: bold;
    }

    .repository-description {
        p {
            font-size: 0.8rem;
            color: black;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            /* number of lines to show */
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}

@media (max-width: 600px) {
    .repository-container {
        margin-left: 0;
        height: 70px;
    }

    .repository-title {
        font-size: 0.8rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .repositoy-detail {
        min-width: 21px;
        justify-content: space-evenly;
    }
}