@import "/src/assets/colorPallet.scss";

.search_button {
    padding: 0.8rem;
    text-align: center;
    background-color: $primary-color;
    color: white;
    margin-top: 1rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}